In [534]:
import numpy as np
import pandas as pd
import nltk
import string

Primeiro DataSet com mensagens fraudulentas

In [535]:
#Leitura do arquivo csv de mensagens fraudulentas
dataset_pd = pd.read_csv("C:\\Users\\nando\\OneDrive\\Documentos\\Fernando\\Sentinel-Anti-Fraude\\Teste\\Datasets\\fraudes.csv", encoding='utf-8')

In [536]:
#Salvando as informações do arquivo em uma variável
df_fraudes = pd.DataFrame(dataset_pd)
df_fraudes.head()

,titulo,assunto,descricao,url
0,FRAUDE - Perfil Profissional,Assunto da mensagem: Perfil Profissional Compl...,"\n\nOlá,\n\nEnvio minhas informações profissio...",https://catalogodefraudes.rnp.br/frauds/16581
1,FRAUDE - Phishing de Cartão de Crédito,Assunto da mensagem: Convite Especial: Bradesc...,\n\n\nConvite Exclusivo: Bradesco American Exp...,https://catalogodefraudes.rnp.br/frauds/16575
2,FRAUDE - Phishing por Atualização de Email,Assunto da mensagem: Re: NF-e: <ID>,\n\n\nHá uma alteração e atualização em nosso ...,https://catalogodefraudes.rnp.br/frauds/16576
3,FRAUDE - Nota Fiscal Eletrônica,Assunto da mensagem: Seu pedido foi realizado ...,"\n\n\n\n<ID>\nNota Fiscal Disponível\n\nOlá,\n...",https://catalogodefraudes.rnp.br/frauds/16580
4,FRAUDE - Atualização de E-mail,Assunto da mensagem: Notificação de cobrança /...,\n\n\nHá uma alteração e atualização em nosso ...,https://catalogodefraudes.rnp.br/frauds/16574

In [537]:
#Inserindo a coluna "Fraude" e atribuindo o valor = 1
df_fraudes['Fraude'] = 1

#Removendo as colunos desnecessarias
df_fraudes.drop(['titulo', 'assunto', 'url'], axis=1, inplace=True)

df_fraudes.head(6)

                                           descricao  Fraude
0  \n\nOlá,\n\nEnvio minhas informações profissio...       1
1  \n\n\nConvite Exclusivo: Bradesco American Exp...       1
2  \n\n\nHá uma alteração e atualização em nosso ...       1
3  \n\n\n\n<ID>\nNota Fiscal Disponível\n\nOlá,\n...       1
4  \n\n\nHá uma alteração e atualização em nosso ...       1
5  \n\n\nAtenção usuário da conta de webmail,\n\n...       1

In [538]:
#Verificando o tamanho do df
df_fraudes.shape

(16274, 2)

In [539]:
#removendo as informações duplicadas
df_fraudes.drop_duplicates(inplace=True)
df_fraudes = df_fraudes.dropna().reset_index(drop=True)

#Verificando se existem valores vazios
df_fraudes.isnull().sum()

descricao    0
Fraude       0
dtype: int64

In [540]:
# #Definindo um tamanho menor para o df, com 1003 linhas
df_fraudes = df_fraudes[:3636]

In [541]:
df_fraudes.shape

(3636, 2)

In [542]:
df_fraudes

                                              descricao  Fraude
0     \n\nOlá,\n\nEnvio minhas informações profissio...       1
1     \n\n\nConvite Exclusivo: Bradesco American Exp...       1
2     \n\n\nHá uma alteração e atualização em nosso ...       1
3     \n\n\n\n<ID>\nNota Fiscal Disponível\n\nOlá,\n...       1
4     \n\n\nAtenção usuário da conta de webmail,\n\n...       1
...                                                 ...     ...
3631  \n\n\nEste é o seu último aviso Sua Caixa de C...       1
3632  \n\n\nANEXO: Doc-003256283.doc\n\nBoa tarde! C...       1
3633  \n\n\nPrezado(a), \n\n\nSegue anexado a este e...       1
3634  \n\n\nPrezado Cliente,\nAcreditamos que tenha ...       1
3635  \n\n\nVIVO\n\nConforme sua solicitação estamos...       1

[3636 rows x 2 columns]

In [543]:
#baixando e carregando uma lista de stopwords (palavras irrelevantes) em português da biblioteca NLTK (Natural Language Toolkit)
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('portuguese')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nando\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [544]:
def process_text_conteudo(conteudo):
  import unicodedata
  import string
  
  # Remove pontuação
  nopont = [char for char in conteudo if char not in string.punctuation]

  # Converte para minúsculas
  nopont = ''.join(nopont).lower()
  
  # Remove acentos
  nopont = unicodedata.normalize('NFKD', nopont).encode('ASCII', 'ignore').decode('ASCII')

  return nopont

In [545]:
def tokenize_text(conteudo):
    return conteudo.split()

In [546]:
#Processa a coluna "descricao" e retorna uma lista de palavras filtradas
df_fraudes['descricao'] = df_fraudes['descricao'].apply(process_text_conteudo)

df_fraudes

                                              descricao  Fraude
0     \n\nola\n\nenvio minhas informacoes profission...       1
1     \n\n\nconvite exclusivo bradesco american expr...       1
2     \n\n\nha uma alteracao e atualizacao em nosso ...       1
3     \n\n\n\nid\nnota fiscal disponivel\n\nola\n\ns...       1
4     \n\n\natencao usuario da conta de webmail\n\ne...       1
...                                                 ...     ...
3631  \n\n\neste e o seu ultimo aviso sua caixa de c...       1
3632  \n\n\nanexo doc003256283doc\n\nboa tarde como ...       1
3633  \n\n\nprezadoa \n\n\nsegue anexado a este emai...       1
3634  \n\n\nprezado cliente\nacreditamos que tenha o...       1
3635  \n\n\nvivo\n\nconforme sua solicitacao estamos...       1

[3636 rows x 2 columns]

In [547]:
df_fraudes.to_csv('C:\\Users\\nando\\OneDrive\\Documentos\\Fernando\\Sentinel-Anti-Fraude\\Teste\\Datasets\\df_fraudes_tratada.csv', index=True)

Segundo Dataset

In [548]:
#Leitura do arquivo csv de mensagens não fraudulentas
dataset_pd2 = pd.read_csv("C:\\Users\\nando\\OneDrive\\Documentos\\Fernando\\Sentinel-Anti-Fraude\\Teste\\Datasets\\df_nao_fraude_tratada2_4354.csv", encoding='utf-8')

dataset_pd2

      Unnamed: 0                                          descricao  Fraude
0              0  qui abr agradecemos por escolher o pop total r...       0
1              1  sex abr agradecemos por escolher o pop total r...       0
2              2  seg abr agradecemos por escolher o pop total r...       0
3              3  qui mai agradecemos por escolher o pop total r...       0
4              4  qua mai agradecemos por escolher o pop total r...       0
...          ...                                                ...     ...
3631        3631  discover courses in computer science user inno...       0
3632        3632  delltm para visualizar este email no seu brows...       0
3633        3633  apenas esta semana ofertas incriveis em produt...       0
3634        3634  netflix para kuromukuro episodios hd quando me...       0
3635        3635  daa informa vivemos num mundo em que precisamo...       0

[3636 rows x 3 columns]

In [549]:
df_legitimo = dataset_pd2.drop("Unnamed: 0", axis = 1)

df_legitimo

                                              descricao  Fraude
0     qui abr agradecemos por escolher o pop total r...       0
1     sex abr agradecemos por escolher o pop total r...       0
2     seg abr agradecemos por escolher o pop total r...       0
3     qui mai agradecemos por escolher o pop total r...       0
4     qua mai agradecemos por escolher o pop total r...       0
...                                                 ...     ...
3631  discover courses in computer science user inno...       0
3632  delltm para visualizar este email no seu brows...       0
3633  apenas esta semana ofertas incriveis em produt...       0
3634  netflix para kuromukuro episodios hd quando me...       0
3635  daa informa vivemos num mundo em que precisamo...       0

[3636 rows x 2 columns]

In [550]:
#removendo as informações duplicadas
df_legitimo.drop_duplicates(inplace=True)
df_legitimo= df_legitimo.dropna().reset_index(drop=True)

#Verificando se existem valores vazios
df_legitimo.isnull().sum()

descricao    0
Fraude       0
dtype: int64

In [551]:
df_legitimo

                                              descricao  Fraude
0     qui abr agradecemos por escolher o pop total r...       0
1     sex abr agradecemos por escolher o pop total r...       0
2     seg abr agradecemos por escolher o pop total r...       0
3     qui mai agradecemos por escolher o pop total r...       0
4     qua mai agradecemos por escolher o pop total r...       0
...                                                 ...     ...
3631  discover courses in computer science user inno...       0
3632  delltm para visualizar este email no seu brows...       0
3633  apenas esta semana ofertas incriveis em produt...       0
3634  netflix para kuromukuro episodios hd quando me...       0
3635  daa informa vivemos num mundo em que precisamo...       0

[3636 rows x 2 columns]

In [552]:
df_legitimo['descricao'] = df_legitimo['descricao'].apply(process_text_conteudo)

df_legitimo

                                              descricao  Fraude
0     qui abr agradecemos por escolher o pop total r...       0
1     sex abr agradecemos por escolher o pop total r...       0
2     seg abr agradecemos por escolher o pop total r...       0
3     qui mai agradecemos por escolher o pop total r...       0
4     qua mai agradecemos por escolher o pop total r...       0
...                                                 ...     ...
3631  discover courses in computer science user inno...       0
3632  delltm para visualizar este email no seu brows...       0
3633  apenas esta semana ofertas incriveis em produt...       0
3634  netflix para kuromukuro episodios hd quando me...       0
3635  daa informa vivemos num mundo em que precisamo...       0

[3636 rows x 2 columns]

In [553]:
df_legitimo.to_csv('C:\\Users\\nando\\OneDrive\\Documentos\\Fernando\\Sentinel-Anti-Fraude\\Teste\\Datasets\\df_nao_fraude_tratada2_4354.csv', index=True)

Unindo os DataSets

In [554]:
data_frames = [df_fraudes, df_legitimo]

In [555]:
data_frame = pd.concat(data_frames)

In [556]:
data_frame.shape

(7272, 2)

In [557]:
data_frame.head

<bound method NDFrame.head of                                               descricao  Fraude
0     \n\nola\n\nenvio minhas informacoes profission...       1
1     \n\n\nconvite exclusivo bradesco american expr...       1
2     \n\n\nha uma alteracao e atualizacao em nosso ...       1
3     \n\n\n\nid\nnota fiscal disponivel\n\nola\n\ns...       1
4     \n\n\natencao usuario da conta de webmail\n\ne...       1
...                                                 ...     ...
3631  discover courses in computer science user inno...       0
3632  delltm para visualizar este email no seu brows...       0
3633  apenas esta semana ofertas incriveis em produt...       0
3634  netflix para kuromukuro episodios hd quando me...       0
3635  daa informa vivemos num mundo em que precisamo...       0

[7272 rows x 2 columns]>

Treinamento da IA

In [558]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(
    preprocessor=process_text_conteudo,  # Pré-processamento antes da tokenização
    tokenizer=tokenize_text,  # Função que retorna uma lista de tokens
    max_df=0.85, 
    min_df=5, 
    ngram_range=(1,2), 
    sublinear_tf=True
)

vect = vectorizer.fit_transform(data_frame['descricao'].values.astype('U'))

c:\Python312\Lib\site-packages\sklearn\feature_extraction\text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [559]:
print(vect.shape)

(7272, 33501)

In [560]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(vect, data_frame['Fraude'], test_size = 0.20, random_state = 0)

In [561]:
from sklearn.naive_bayes import MultinomialNB

classifier = MultinomialNB().fit(x_train, y_train)

In [562]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

pred = classifier.predict(x_train)

print(classification_report(y_train, pred))
print()
print('Confusion Matrix: \n', confusion_matrix(y_train, pred))
print()
print('Accuracy: ', accuracy_score(y_train, pred))

              precision    recall  f1-score   support

           0       0.99      0.97      0.98      2895
           1       0.97      0.99      0.98      2922

    accuracy                           0.98      5817
   macro avg       0.98      0.98      0.98      5817
weighted avg       0.98      0.98      0.98      5817


Confusion Matrix:
 [[2809   86]
 [  37 2885]]

Accuracy:  0.9788550799381124

In [563]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pred = classifier.predict(x_test)
print(classification_report(y_test, pred))
print()
print('Confusion Matrix: \n',confusion_matrix(y_test, pred))
print()
print('Accuracy: ', accuracy_score(y_test, pred))

              precision    recall  f1-score   support

           0       0.99      0.97      0.98       741
           1       0.97      0.99      0.98       714

    accuracy                           0.98      1455
   macro avg       0.98      0.98      0.98      1455
weighted avg       0.98      0.98      0.98      1455


Confusion Matrix:
 [[722  19]
 [  9 705]]

Accuracy:  0.9807560137457044

In [564]:
import pickle
filenameModelo = 'modelo.pk1'
pickle.dump(classifier, open(filenameModelo, 'wb'))

In [565]:
pickle.dump(vectorizer, open("tfidf_vectorizer.pk1", "wb"))

Teste de aplicação

In [566]:
import os
import pickle
import numpy as np
import pandas as pd
import sklearn.feature_extraction

In [567]:
modelo = pickle.load(open('C:\\Users\\nando\\OneDrive\\Documentos\\Fernando\\Sentinel-Anti-Fraude\\Teste\\IA\\modelo.pk1','rb'))

In [583]:
# Exemplo de Email
# O primeio exemplo é um e-mail normal
dados = {"descricao":"Olá, pessoal, pronto para um novo desafio DEV? Hoje sai o terceiro vídeo da semana devepoler. Lembrando que esta é uma aula para todos os níveis de conhecimento. Ou seja, se você está no nível básico, intermediário ou avançado, a aula será bem produtiva e você aprenderá muito sobre vários temas. Como Nodejs, MongoDB, VueJS e muito mais: esta aula ficará no ar somente durante 7 dias, então recomendo assistir agora mesmo, pois se você deixar para depois, ela poderá não estar mais disponível!  Equipe xyz"}
# Exemplo de email FRAUDE
#dados = {"descricao":"Netflix Atualize seus dados de pagamento! Olá  Ocorreu um problema com seu meio de pagamento atual. Tentaremos efetuar uma cobrança novamente mas recomendamos que você atualize essas informações. ATUALIZAR PAGAMENTO Lembrando que sua conta estará suspensa caso o débito não seja realizado. Informações da sua conta: Email  Provedor do serviço Netflix Entretenimento Brasil, Ltda. Plano Básico Preço do plano R$21,90/mês Estamos sempre prontos para ajudar. Acesse o Centro de ajuda para saber mais ou fale com a gente. Seus amigos da Netflix VEJA TODAS AS SÉRIES E FILMES> Ao assinar a Netflix, você concorda com nossos Termos de uso e com a Declaração de privacidade Dúvidas? Ligue 0800-887-0201 Estamos enviando este email porque você é assinante Netflix. Para alterar suas preferências de email a qualquer momento, acesse a página Configurações de comunicação da sua conta. Não responda a este email, pois a caixa deste endereço de email não é monitorada. Para obter ajuda ou entrar em contato, acesse o Centro de ajuda em help.netflix.com. Esta mensagem foi enviada para [ erik1605@hotmail.com  ] pela Netflix. SRC: 12500_pt-BR_BR A utilização do serviços e do site da Netflix está sujeita aos Termos de privacidade. Netflix Entretenimento Brasil, Ltda."}
#dados = {"descricao" : "Sua conta de e-mail foi infectada com um vírus de Trojan: para excluir o vírus e também proteger sua conta, Clique Aqui para atualizar o Administrador do Sistema."}
#dados = {"descricao" : "Esse email é legitimo."}

In [584]:
text_processado = process_text_conteudo(dados["descricao"])

In [585]:
dados_transformados = vectorizer.transform([text_processado])

In [586]:
predicao = modelo.predict(dados_transformados)

In [587]:
print("FRAUDE" if predicao[0] == 1 else "OK")

OK