In [400]:
import numpy as np
import pandas as pd
import nltk
import string

In [401]:
#Leitura do arquivo csv de mensagens fraudulentas
dataset_pd = pd.read_csv("C:\\Users\\nando\\OneDrive\\Documentos\\Fernando\\Sentinel-Anti-Fraude\\Teste\\Datasets\\fraude.csv", encoding='utf-8')

In [402]:
#Salvando as informações do arquivo em uma variável
df_fraudes = pd.DataFrame(dataset_pd)
df_fraudes.head()

,_id,title,assunto,conteudo
0,14323,Magazine Luiza,Black Friday Magazine Luiza - Smart TV 4K LED ...,Ofertas exclusivas pra você :)\nver online | d...
1,14331,Nota Fiscal,http://www.nfe.fazenda.gov.br/portal/principal...,Esta mensagem refere-se a Nota Fiscal Eletrôni...
2,14329,Hospedagem Website,Sua hospedagem não foi renovada automaticamente,A hospedagem de site encontra-se com\nPAGAMENT...
3,14326,Atualização Netflix,Netflix: Sua conta foi suspensa. Revise seus d...,Netflix\n \nSua conta está suspensa.\nAtualize...
4,14324,Mercado Livre,NOTIFICAÇÃO - RECLAMAÇÃO FEITA PELO COMPRADOR ...,"MercadoLibre\n \n \n\nOlá,\n\nSeu comprador in..."

In [403]:
#Inserindo a coluna "Fraude" e atribuindo o valor = 1
df_fraudes['Fraude'] = 1

#Removendo as colunos desnecessarias
df_fraudes.drop(['_id', 'title', 'assunto'], axis=1, inplace=True)

df_fraudes.head()

                                            conteudo  Fraude
0  Ofertas exclusivas pra você :)\nver online | d...       1
1  Esta mensagem refere-se a Nota Fiscal Eletrôni...       1
2  A hospedagem de site encontra-se com\nPAGAMENT...       1
3  Netflix\n \nSua conta está suspensa.\nAtualize...       1
4  MercadoLibre\n \n \n\nOlá,\n\nSeu comprador in...       1

In [404]:
#Verificando o tamanho do df
df_fraudes.shape

(14266, 2)

In [405]:
#Definindo um tamanho menor para o df, com 1003 linhas
df_fraudes = df_fraudes[:1003]

df_fraudes.shape

(1003, 2)

In [406]:
#removendo as informações duplicadas
df_fraudes.drop_duplicates(inplace=True)

#Verificando se existem valores vazios
df_fraudes.isnull().sum()

conteudo    1
Fraude      0
dtype: int64

In [407]:
df_fraudes.shape

(934, 2)

In [408]:
#baixando e carregando uma lista de stopwords (palavras irrelevantes) em português da biblioteca NLTK (Natural Language Toolkit)
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('portuguese')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nando\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [409]:
def process_text_conteudo(conteudo):
  import unicodedata

  # Remove pontuação
  nopont = [char for char in conteudo if char not in string.punctuation]

  # Forma as palavras todas em minúnculas
  nopont = ''.join(nopont).lower()
  
  # remove acentos
  nopont = unicodedata.normalize('NFKD', nopont).encode('ASCII', 'ignore').decode('ASCII')

  # cria lista contendo somente palavras removento as stopwords
  clean_palavras = [palavra for palavra in nopont.split() if palavra not in stopwords]

  return clean_palavras

In [410]:
#Processa a coluna "conteudo" e retorna uma lista de palavras filtradas
df_fraudes['conteudo'].head().apply(process_text_conteudo)

df_fraudes.head()

                                            conteudo  Fraude
0  Ofertas exclusivas pra você :)\nver online | d...       1
1  Esta mensagem refere-se a Nota Fiscal Eletrôni...       1
2  A hospedagem de site encontra-se com\nPAGAMENT...       1
3  Netflix\n \nSua conta está suspensa.\nAtualize...       1
4  MercadoLibre\n \n \n\nOlá,\n\nSeu comprador in...       1

Segundo Dataset

In [411]:
#Leitura do arquivo csv de mensagens legítimas
dataset_pd2 = pd.read_csv("C:\\Users\\nando\\OneDrive\\Documentos\\Fernando\\Sentinel-Anti-Fraude\\Teste\\Datasets\\df_legitimo.csv", encoding='utf-8')

In [412]:
df_legitimo = pd.DataFrame(dataset_pd2)
df_legitimo.head()

,label,text,conteudo
0,0,ounce feather bowl hummingbird opec moment ala...,Once Feather Bowl Hummingbird OPEP Momento Ala...
1,0,wulvob get your medircations online qnb ikud v...,wulvob get your medircations online qnb ikud v...
2,0,computer connection from cnn com wednesday es...,computer connection from cnn com wednesday esc...
3,0,university degree obtain a prosperous future m...,"Universidade, obtenha um próspero poder de gan..."
4,0,thanks for all your answers guys i know i shou...,"Obrigado por todas as suas respostas, pessoal,..."

In [413]:
df_legitimo.drop(['text'], axis=1, inplace=True)

df_legitimo.head()

   label                                           conteudo
0      0  Once Feather Bowl Hummingbird OPEP Momento Ala...
1      0  wulvob get your medircations online qnb ikud v...
2      0  computer connection from cnn com wednesday esc...
3      0  Universidade, obtenha um próspero poder de gan...
4      0  Obrigado por todas as suas respostas, pessoal,...

In [414]:
df_legitimo.shape

(934, 2)

In [415]:
df_legitimo.drop_duplicates(inplace=True)

df_legitimo.isnull().sum()

label       0
conteudo    0
dtype: int64

In [416]:
df_legitimo['conteudo'].head().apply(process_text_conteudo)

df_legitimo.head()

   label                                           conteudo
0      0  Once Feather Bowl Hummingbird OPEP Momento Ala...
1      0  wulvob get your medircations online qnb ikud v...
2      0  computer connection from cnn com wednesday esc...
3      0  Universidade, obtenha um próspero poder de gan...
4      0  Obrigado por todas as suas respostas, pessoal,...

In [417]:
df_legitimo = df_legitimo[[df_legitimo.columns[1], df_legitimo.columns[0]]]

df_legitimo = df_legitimo.rename(columns={'label': 'Fraude'})

df_legitimo.head()

                                            conteudo  Fraude
0  Once Feather Bowl Hummingbird OPEP Momento Ala...       0
1  wulvob get your medircations online qnb ikud v...       0
2  computer connection from cnn com wednesday esc...       0
3  Universidade, obtenha um próspero poder de gan...       0
4  Obrigado por todas as suas respostas, pessoal,...       0

Treinar IA

In [427]:
# Criando um novo dataframe com os 2 dataframes
data_frames = [df_legitimo, df_fraudes]   

# Concatena os 2 dataframes
data_frame_final = pd.concat(data_frames)

# Mostra o corpo do novo dataset
print(data_frame_final.shape)

# Mostra o cabeçalho do dataframe
print(data_frame_final)

print(data_frame_final['Fraude'].value_counts())

data_frame_final.to_csv('data_frame_final.csv', index=False)

(1868, 2)
                                               conteudo  Fraude
0     Once Feather Bowl Hummingbird OPEP Momento Ala...       0
1     wulvob get your medircations online qnb ikud v...       0
2     computer connection from cnn com wednesday esc...       0
3     Universidade, obtenha um próspero poder de gan...       0
4     Obrigado por todas as suas respostas, pessoal,...       0
...                                                 ...     ...
998   Olá, \n\nVocê está recebendo sua conta de serv...       1
999   Caro(a) usuario(a),\n\nApós vários comunicados...       1
1000  Preços com até 40% de desconto ;)\nver online ...       1
1001  Prezado Cliente,\nAcreditamos que tenha ocorri...       1
1002  Banco Inter\t\n\nOlá, \n\nPara garantir a conf...       1

[1868 rows x 2 columns]
Fraude
0    934
1    934
Name: count, dtype: int64

In [419]:
# Transforma as palavras em uma matriz de numeros tokens
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(analyzer=process_text_conteudo)
vect = vectorizer.fit_transform(data_frame_final['conteudo'].values.astype('U'))

In [420]:
# Exibe o corpo da matiz
print(vect.shape)

(1868, 32942)

In [ ]:
from sklearn.model_selection import train_test_split
# Separando dados em 80% treino e 20% para teste
X_train, X_test, y_train, y_test = train_test_split(vect, data_frame_final['Fraude'] , test_size=0.2, random_state=42)

In [422]:
from sklearn.naive_bayes import MultinomialNB
# Criando modelo de classificação com algoritimo naive_bayes
classifier = MultinomialNB().fit(X_train, y_train)
     

# Relatorio e estatisticas com os dados do treinamento
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pred = classifier.predict(X_train)
print(classification_report(y_train, pred))
print()
print('Confusion Matrix: \n',confusion_matrix(y_train, pred))
print()
print('Accuracy: ', accuracy_score(y_train, pred))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00       739
           1       0.99      1.00      1.00       755

    accuracy                           1.00      1494
   macro avg       1.00      1.00      1.00      1494
weighted avg       1.00      1.00      1.00      1494


Confusion Matrix:
 [[734   5]
 [  1 754]]

Accuracy:  0.9959839357429718

In [423]:
# Relatorio e estatisticas com os dados do teste
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pred = classifier.predict(X_test)
print(classification_report(y_test, pred))
print()
print('Confusion Matrix: \n',confusion_matrix(y_test, pred))
print()
print('Accuracy: ', accuracy_score(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      0.93      0.96       195
           1       0.93      1.00      0.96       179

    accuracy                           0.96       374
   macro avg       0.96      0.96      0.96       374
weighted avg       0.97      0.96      0.96       374


Confusion Matrix:
 [[181  14]
 [  0 179]]

Accuracy:  0.9625668449197861

In [424]:
#exporta o modelo 
import pickle
filenameModelo = 'modelo.pk1'
pickle.dump(classifier, open(filenameModelo, 'wb'))

In [425]:
#exporta o dictionary
filenameMessagesWords = 'messages_words.pk1'
pickle.dump(vectorizer.vocabulary_, open(filenameMessagesWords, 'wb'))

In [438]:
import os
import pickle
import numpy as np
import pandas as pd
import sklearn.feature_extraction
     
#uploaded = files.upload()
     
# Abre o modelo e o dicionário
modelo = pickle.load(open('C:\\Users\\nando\\OneDrive\\Documentos\\Fernando\\Sentinel-Anti-Fraude\\Teste\\IA\\modelo.pk1','rb'))
modelo_messages_words = pickle.load(open('C:\\Users\\nando\\OneDrive\\Documentos\\Fernando\\Sentinel-Anti-Fraude\\Teste\\IA\\messages_words.pk1','rb'))

# Exemplo de Email
# O primeio exemplo é um e-mail normal
dados = {"conteudo":"Olá, pessoal, pronto para um novo desafio DEV? Hoje sai o terceiro vídeo da semana devepoler. Lembrando que esta é uma aula para todos os níveis de conhecimento. Ou seja, se você está no nível básico, intermediário ou avançado, a aula será bem produtiva e você aprenderá muito sobre vários temas. Como Nodejs, MongoDB, VueJS e muito mais: esta aula ficará no ar somente durante 7 dias, então recomendo assistir agora mesmo, pois se você deixar para depois, ela poderá não estar mais disponível!  Equipe xyz"}
# Exemplo de email FRAUDE
#dados = {"conteudo":"Netflix Atualize seus dados de pagamento! Olá  Ocorreu um problema com seu meio de pagamento atual. Tentaremos efetuar uma cobrança novamente mas recomendamos que você atualize essas informações. ATUALIZAR PAGAMENTO Lembrando que sua conta estará suspensa caso o débito não seja realizado. Informações da sua conta: Email  Provedor do serviço Netflix Entretenimento Brasil, Ltda. Plano Básico Preço do plano R$21,90/mês Estamos sempre prontos para ajudar. Acesse o Centro de ajuda para saber mais ou fale com a gente. Seus amigos da Netflix VEJA TODAS AS SÉRIES E FILMES> Ao assinar a Netflix, você concorda com nossos Termos de uso e com a Declaração de privacidade Dúvidas? Ligue 0800-887-0201 Estamos enviando este email porque você é assinante Netflix. Para alterar suas preferências de email a qualquer momento, acesse a página Configurações de comunicação da sua conta. Não responda a este email, pois a caixa deste endereço de email não é monitorada. Para obter ajuda ou entrar em contato, acesse o Centro de ajuda em help.netflix.com. Esta mensagem foi enviada para [ erik1605@hotmail.com  ] pela Netflix. SRC: 12500_pt-BR_BR A utilização do serviços e do site da Netflix está sujeita aos Termos de privacidade. Netflix Entretenimento Brasil, Ltda."} 

# Processa o texto chamando a função process_text_conteudo para limpar o texto
text_process = process_text_conteudo(dados.values())
     
# Carrega o modelo passando o dicionário
loaded_vectorizer = sklearn.feature_extraction.text.CountVectorizer(vocabulary=modelo_messages_words)
     
# Faz a predição do texto
predicao = modelo.predict(loaded_vectorizer.transform(text_process))   

# Resultado da predição usando os exemplos criados
resultado = predicao[0]
# Se for Fraude imprime FRAUDE se não imprime OK
resposta = 'FRAUDE' if resultado == 1 else 'OK'
print(resposta)

FRAUDE